.hidden {
    display: none;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #242424;
    color: #fff;
  }

  .container {
    background-color: #242424;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
  }

  .transition-hover {
    transition: transform 0.2s ease-in-out;
}
.transition-hover:hover {
    transform: translateY(-5px);
}